body{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
.header{
    background-color: rgb(207, 150, 150);
}
.left{
    display: inline block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    width: 65px;
}
.right{

    text-decoration: none;
    position: absolute;
    right: 34px;
    top: 5px;
    display: inline block;
    
}
.right img{
    width: 50px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    padding:10px;
}
.container{
    height: 100px;
    font-family: cursive;
    font-size: 40px;
    background-color:#b92025;
}
.center img{
    width: 100px;
    margin-top: 20px;
    margin-left: 610px;
}
.center h5{
    margin-top: -2px;
    margin-left: 570px;
    color: #b92025;
}
#div1{
    background-color: white;
    width: 23.33%;
    float: right;
    margin-top: 119px;
    height: 400px;
}
.btn{
    background-color: #b9373d;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
#div2{
    background-color: white;
    width: 23.33%;
    float: left;
    height: 400px;
}
 #div2 ul{
    text-decoration: none;
    list-style: none;
 }

#div2 ul li img{
    text-decoration: none;
    width: 180px;
    margin-top: 20px;
    margin-left: 60px;
}
#div2 b {
    color: #b92025;
    margin-left: 80px;
    margin-top: -2px;
}
#div3{
    background-color: white;
    width: 53.33%;
    margin: 0 auto;
    height: 400px;
    padding-left: 200px;
}
#div3 b{
    color: #b92025;
}
#div3 i{
    color: #b92025;
}
