
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        margin-left: 250px;
    }
    }
    button.navbar-toggler{
        border-radius: 2px solid #B51700;;
    
    }
    span.navbar-toggler-icon img{
         margin-top: -17px; 
        padding: 2px;
        margin-left: -10px;
    }
 body{
    height: 100%;
    font-family: Helvetica;
}
.global-container{
    height: 100%;
    font-size: 14px;
    justify-content: center;
color: #ba2128;
}.card-body {
    width: 50%;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
form{
    padding-top: 10px;
    margin-top: 30px;
}
.card{
position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
div.card.login-form{
/* margin-left: 350px;
margin-top: 50px; */
   
/* div.container {
    border: #ba2128;
    color: #ba2128;
    padding: 16px;
    margin-left: 10px;
}
.card-title {
    color: #ba2128;
} */
/* .btn-primary {
    /* width: 352px;
    margin-top: 10px; */
    /* background-color: #ba2128;
    color:#ffff; */
/* } */
}
b, strong {
    font-family: Georgia;
    font-size: 30 bold;
    color: #ba2128;;
    font-weight: bolder;
}
b{
    font-family: Georgia;
    font-size: 30 bold;
    color:#ba2128;
}
    label{
        font-family: Helvetica;
        color:#ba2128;
        display: inline-block;
    }

.square-box{
    max-width: 600px;
    border: 1px solid #ba2128;
} */
.center-box{
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a {
    color: #909090;
    text-decoration: underline;
    text-decoration: none;
}
div.col-lg-4.col-md-8.col-sm-8{
    border: 2px solid #ba2128;
    
}

.h6, h6{
    font-family:Helvetica;
    color: #ba2128;
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
}
.h5, h5 {
    font-family:Helvetica;
    color: #909090;
}
dt{
    font-size: medium;
    font-family:Helvetica;
    color: #ba2128;
}
dd{
    font-family:Helvetica;
    color: #ba2128;
}
h5 a{
    text-decoration: none;
    color: #909090;
}
.card-body {
    margin-top: -50px;
    width: 50%;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
label{
    color: #ba2128;
}
.btn {
    font-family:Helvetica;
    color: #fff;
    background-color:#ba2128;
    border-color: #ba2128;
}